@font-face {
	font-family: "astra";
	src: url('/font/ClashGrotesk-Regular.otf');
	font-weight: 400;
}

@font-face {
	font-family: "astra";
	src: url('/font/TAN_WAVERLY.otf');
	font-weight: 500;
}

/* ################################### */

* {
	box-sizing: border-box;
	margin: 0;

	line-height: 150%;

	outline: none;
	-webkit-tap-highlight-color: transparent;

}

:root,
textarea,
select,
input,
button {
	font-family: "astra", 'Segoe UI', Tahoma, Verdana, sans-serif;
	font-size: 16px;
}

a{
	color: var(--cl1);
}

.error {
	color: var(--cl2);
}


h1{
	color: var(--ac1);
}



input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	transition: background-color 9999s;
	-webkit-text-fill-color: var(--ac1);
}

textarea,
input,
select {
	background-color: transparent; 
	border: none;

}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
	border-color: var(--ac1);
	color: var(--ac1);

}

select:hover{
	border-color: var(--ac1);

}

textarea {
	display: block;
	resize: none;
	height: 160px;
}

button{
	padding: 0;
	border: none;
	cursor: pointer;
	background-color: transparent;
}